/* font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

/* font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

/* #2E323F
#3B4050
#6F737F
#FFFFFF
#A59678 */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    margin: 0;
}

ul {
    margin-bottom: 0;
}

.draft {
    max-width: 80%;
    width: auto;
}

.row {
    display: flex;
}

header {
    margin: 0;
    background-color: #2e323f;
    color: #fff;
    padding: 1em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    font-family: "Oswald", sans-serif;
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav-list_second {
    margin-top: 1em;
}

p {
    line-height: 1.625;
}

.draft {
    width: 100%;
}

.nav-list>* {
    margin-top: 0.5em;
}

.list-button {
    background-color: #a59678;
    padding: 0.3em 1em;
    border-radius: 100px;
}

.container {
    padding: 2em;
}

main {
    background-color: #3b4050;
    margin: 0;
    color: #fff;
}

span {
    color: #a59678;
}

button {
    border-radius: 100px;
    border: transparent;
    padding: 0.5em 1em;
    text-transform: uppercase;
    background-color: #a59678;
    color: #fff;
}

.section-two {
    text-align: center;
    background-color: #F1F1F1;
}

.brown-heading {
    color: #a59678;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.bg-black {
    background-color: #3b4050;
    color: white;
    margin: 1em 0;
    text-align: center;
}

footer {
    background-color: #3b4050;
    color: white;
}

.list-relaxed {
    line-height: 2em;
    list-style: none;
    padding: 0;
    text-align: center;
}

.text-center{
    text-align: center;
}

@media (min-width: 700px) {
    .turn {
        display: flex;
        gap: 1em;
    }
    .for-row {
        gap: 2em;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {

    main > .for-row {
        align-items: center;
        height: 50vh;
    }
    h1 {
        font-size: 3rem;
    }
    .for-row {
        flex-direction: row;
    }

    header > .for-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .for-row >nav {
        display: flex;
        gap: 2em;
    }

    .nav-list {
        display: flex;
        gap: 2em;
        margin: 0;
    }
    .big-row {
        display: flex;
        justify-content: space-around;
    }
    .col1 {
        max-width: 50%;
    }

    .col1 > *,
    .list-relaxed
    {
        text-align: left;
    }
}